<div *ngIf="error" class="error">{{ error }}</div>

<form nz-form [formGroup]="signupForm">
  <nz-form-item>
    <nz-form-control nzErrorTip="Пожалуйста, введите Ваш логин">
      <nz-input-group>
        <input
          type="text"
          nz-input
          formControlName="username"
          placeholder="Логин*"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Пожалуйста, введите Ваш пароль">
      <nz-input-group>
        <input
          type="password"
          nz-input
          formControlName="password"
          placeholder="Пароль*"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Пожалуйста, введите Ваш пароль повторно">
      <nz-input-group>
        <input
          type="password"
          nz-input
          formControlName="password_confirm"
          placeholder="Пароль еще раз*"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Пожалуйста, введите Ваше имя">
      <nz-input-group>
        <input
          type="text"
          nz-input
          formControlName="firstName"
          placeholder="Имя*"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control nzErrorTip="Пожалуйста, введите Вашу фамилию">
      <nz-input-group>
        <input
          type="text"
          nz-input
          formControlName="lastName"
          placeholder="Фамилия*"
        />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <button
    nz-button
    nzType="primary"
    [disabled]="signupForm.invalid"
    class="first-button"
    (click)="signup()"
  >
    Зарегистрироваться
  </button>
  <button nz-button nzType="default" routerLink="/user/signin">
    Войти
  </button>
</form>
